body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: peachpuff;
    margin: 0;
    padding: 0;
}
h1 {
    font: oblique 400 40px/1.5 "seoge UI", sans-serif;
    color: rgb(230, 16, 98);
    text-align: center;
    margin-top:20px;
    font-size: 50px;
    letter-spacing: 2px;
    }
    p {
    font: italic 400 16px/1.5 "seoge UI", sans-serif;
    color: rgb(8, 8, 8);
    text-align: center;
    margin-top:20px;
    font-size: 20px;
    }
    img {
    display: block;
    margin: 30px auto;
    width: 150px;
    height: auto;
    border-radius: 20px;
    }
h2 {
    font: italic 400 30px/1.5 "seoge UI", sans-serif;
    color: rgb(230, 16, 98);
    text-align: center;
    margin-top:20px;
    font-size: 40px;
    letter-spacing: 2px;
    }
h3 {
    font: italic 400 20px/1.5 "seoge UI", sans-serif;
    color: rgb(230, 16, 98);
    text-align: center;
    margin-top:20px;
    font-size: 30px;
    letter-spacing: 2px;
    }
    .card{
        background-color: whitesmoke;
        width: 180px;
        height: 300px;
        margin: 20px auto;
        padding: 15px;
        border-radius: 10px;
        position: relative;
    }
    .card-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 160px;
        height: 140px;
        background-color: rgba(230, 40, 103, 0.8);
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0;
        transition: opacity 0.3s ease;
    }
